header{
    position: fixed;
    top: 0;
    z-index: 1000000;
    background-color:#74b9ff;
    color:white;
    margin: 0px;
    width: 100%;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 0;
    width: 100%;
}
.header-logo{
padding-left: 10px;
}
.header-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
    text-decoration: none;
    display: none;
}
.header-buttons > ul{
    margin: 0;
}
.header-down{
    position: sticky;
   background-color:#0984E3;
}
.header-down > .header-nav > .header-buttons{
    display: flex;
}

@media screen and (min-width: 720px) {
    .header-buttons{
        padding-right: 25px;
    }
}
