header{
    background-color:#0984E3;
    color:white;
    margin: 0px;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 0;
    width: 100%;
}

.header-logo{
padding-left: 10px;
}

.header-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
}

.headerText{
   font-weight: bold;
   font-size: 200px;
}

.header-buttons :nth-child(2){
    color:#dfe6e9;

 }


@media screen and (min-width: 720px) {
    header{
        font-size: 20px;
    }
    .header-buttons{
        padding-right: 25px;
    }
}

@media screen and (min-width: 1366px) {
    header{
        font-size: 20px;
    }
}
@media screen and (min-width: 1920px) {
}