.header-nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 0;
}
.header-logo{
padding-left: 10px;
}
.header-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
    text-decoration: none;
    display: none;
}
.header-buttons > ul{
    margin: 0;
}

@media screen and (min-width: 720px) {
    .header-buttons{
        padding-right: 25px;
    }
}
