footer{
    background-color:#2D3436;
    color: white;
    bottom: 0;
    margin-top: auto;
    font-size: 10px;
}

.links-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width: 720px) {
    .links-container{
        font-size: 16px; 
    }
}
