footer{
    background-color:#2D3436;
    color: white;
    bottom: 0;
    margin-top: auto;
}

.links-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-container > h2{
   font-size: 1.2rem;
}