@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Questrial&family=Secular+One&display=swap');

.post-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding:2rem;
    border: 2px dotted #636e72;
    border-radius: 10px;
}

.post-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 3rem;
}

.post-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
}

.post-inputs > input{
  margin: 1rem;
  padding: 1rem 1.5rem;
}
.post-selectors{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.select-box{
    display: flex;
    font-size:12px;
    padding-left:1rem;
    text-align: center;
}
.select-box > select {
    margin-left: 0.5rem;
   padding: 0.1rem;
}
.ql-editor{
    min-height:350px ;
}

