@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Questrial&family=Secular+One&display=swap');

.post-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}
.h2{
  padding-bottom: 0px;
}
.post-summary{
  color: #636e72;
}
.post-image{
  padding: 20px 0;
}
.post-image > img{
  width: 350px;
}
.author{
  color: #b2bec3;
}
.post-button{
  margin-top: 1rem;
  margin-bottom: 1rem;
}


@media screen and (min-width: 720px) {
  .post-image > img{
    width: 100%;
  }
}


@media screen and (min-width: 1140px) {
  .post-container{
    padding: 0 120px;
}

}