@keyframes --Appear {
    0% {opacity: 0;}
    50% {opacity:0.5;}
    100% {opacity:1;}
}

@keyframes --Hand {
    from{
        transform: translateX(-100px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes --InstaAppear{
    0% {opacity: 0;}
    80% {opacity: 0;}
    100% {opacity:1;}
}
@keyframes --Jump{
    0% {transform: translateY(0);}
    50% {transform: translateY(-40px);}
    100% {transform: translateY(0);}
}

.information-conteiner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;

       /*CHECKEAR ESTO*/
       animation-name: SlideInRight;
       animation-duration:2s;
       animation-timing-function:ease-in;
       animation-delay:0s;
       animation-iteration-count:1;
       animation-direction:normal ;
       animation-fill-mode:none ;

}

.circle-image{
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

.circle-image > img  {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.contact-text-cointainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    padding: 20px;
    width: 50%;
    background-color:  rgb(247, 136, 210);
    color:white;
}

.social-media{
    background-color: rgba(116, 185, 255, 0.6);
    width: 100%;
}

.warpper{
    display: inline-flex;
}

.warpper .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content:center;
    margin: 0.8rem;
    cursor: pointer;
    animation:
    --InstaAppear 1.4s linear,
    --Jump 0.8s 1s;

}

.warpper > .icon:nth-child(1){
    color: #74b9ff;
}
.warpper > .icon:nth-child(2){
    color:#0984e3;
}
.warpper > .icon:nth-child(3){
    color: #2d3436;
}
.warpper > .icon:nth-child(4){
    color: #2d3436;
}

.warpper .icon .social-icon-conteiner{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    text-align: center;
    z-index: 2;
    height: 50px;
    width: 50px;
    background-color: #FFF;
    border-radius: 50%;
}

.warpper .icon .social-icon-conteiner .iconn{
    font-size: 25px;
}

.warpper .icon .toolTip{
    position: absolute;
    top:-70px;
    background-color: #FFF;
    font-size: 15px;
    padding:8px 16px;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.warpper .icon:hover .toolTip{
 opacity: 1;
 pointer-events: auto;

}

.warpper .icon .toolTip::before {
    position: absolute;
    content :"";
    height: 15px;
    width: 15px;
    background-color: white;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);

}

/*SOCIAL MEDIA IMAGE*/
.social-media-image-conteiner{
    animation-name: --Appear;
    animation-duration: 3s;
    animation-timing-function: linear;
    display: none;
    margin-left: 150px;
}

.social-media-image-conteiner > img{
    width: 400px;
    height: 250px;
}

.sm-base-image{
    position: relative;
}
.sm-second-image {
    position: absolute;
    animation-name:--Hand;
    animation-duration: 0.9s;
}

.sm-third-image{
    position: absolute;
    animation-name:--InstaAppear;
    animation-duration: 1s;
}

.social-media-conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}
.social-media-text > h2{
    color: white;
    padding-top: 2rem;
    padding-bottom:5rem;
    margin: 0px;
}
.social-media-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 720px) {
    .warpper .icon .social-icon-conteiner{
        height: 80px;
        width: 80px;
    }
    .warpper .icon .social-icon-conteiner .iconn{
        font-size: 35px;
    }
    .warpper .icon .toolTip{
        padding:10px 18px;
    }
    .warpper .icon {
        margin: 1.8rem;
    }
    .warpper .icon .toolTip{
        font-size: 18px;
        padding:10px 18px;
    }
}

@media screen and (min-width: 1140px) {
    .social-media-image-conteiner{
        display: flex;
    }

}

@media screen and (min-width: 1920px) {
    .social-media-image-conteiner{
        display: flex;
        margin-left:220px;
    }

}
