.contact-me{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color:rgba(162, 155, 254, 0.6);
    width: 100%;
}

.contact-me-image {
    display: flex;
    flex-direction: row;
}

.contact-me-image > img {
    width: 150px;
    height: 150px;
    animation:PaperFly , Appear;
    animation-duration: 1s;
    animation-timing-function: linear;
    bottom: 0;
    left: 0;
}

.message-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;

}

.message-container > input{
    width: 50%;
    height: 5%;
    margin: 5px;
}

.message-container > h2{
  color: white;
}

.message-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    cursor: default;
}

.message-inputs{
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.from-text-area{
    padding: 0;
    margin: 0;
    padding: 0;
    border-radius: 2px;
    border-style: none;
    outline: solid 1.2px #6c5ce7 ;
}

.from-text-area:focus{
    outline: solid 2px #6c5ce7 ;
}

.from-text-button{
    background-color: #55efc4;
    margin-top: 10px;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    border-radius: 2px;
    outline:none;
    border-style: none;
    color: white;
    font-weight: bold;

}

.from-input-container{
    width: 100%;
    padding-bottom: 0.5rem;
}

.from-input{
    width: 100%;
    height:1.5rem;
    margin: 0;
    padding:0;
    border-radius: 2px;
    border-style: none;
    outline: solid 1.2px #6c5ce7 ;
}

.from-input::placeholder {
    color:#b2bec3 ;
}

.from-input:focus{
    outline: solid 2px #6c5ce7 ;
}

.circlexd{
    border: none;
    position: absolute;
    z-index: 999;
    width: 60px;
    height:60px;
    background-color: #FFF;
    border-radius: 50%;
    cursor: pointer;
}

.Animation{
    animation-name:Transofrmation ;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}

.backUp{
    animation-name: backUp;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0.5s;
}
.msgicon{
    position: relative;
}

.msgiconOpen{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

@keyframes Transofrmation  {
    0%{
        height: 60px;
        width: 60px;
        border-radius: 0%;
    }50%{
        width: 25%;
        height: 75%;
    }
    75%{
        width: 75%;
        height: 100%;
    }
    100%{
        border-radius: 0%;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-color:rgba(162, 155, 254, 0.6);
    }
}

@keyframes backUp  {
    from{

    }
    to{
        opacity: 1;
        z-index: 1000;
    }
}

@keyframes PaperFly {
    from{
        transform: translate(-50px, 50px);
    }
    to {
        transform: translate(0, 0);

    }
}

@keyframes RingRing{
      0%{
        transform: rotate(0deg);
      }
      25%{
        transform: rotate(45deg);
      }
      50%{
        transform: rotate(-45deg);
      }
      100%{
        transform: rotate(0deg);
      }
}

@keyframes Appear {
    0% {opacity: 0;}
    50% {opacity:0.5;}
    100% {opacity:1;}
}