@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Questrial&family=Secular+One&display=swap');
/*--- Card Size ---*/
.card{
    max-width: 300px;
    max-height: 300px;
    cursor:pointer;
    overflow: hidden;
}

/*--- Card Container ---*/
.card-body{
  position: relative;
  display: block;
  box-sizing: border-box;
}
.card-body > a {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.card-icon-image{
    position: absolute;
    right: 0px;
    max-width:1.5em;
    padding: 8px 8px 0px 0px;
}

.card-icon-image > img{
    width: 100%;
}

.card-image{
    display: block;
    box-sizing: border-box;
}

.card-image > img{
    width: 100%;
    height: 200px;
    display: block;
}
.card-tittle{
    font-size: 1em;
    margin:0px;
}
.card-text-conteiner{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
    bottom: 0;
    position: absolute;
    box-sizing: border-box;
    display: inline-block;
    box-sizing: inherit;
    word-break: break-word;
    white-space: pre-line;
    background-color: white;
    padding:0.7rem;
    font-size: 16px;
}

.card-text-conteiner > p{
    opacity: 0;
    box-sizing: border-box;
    display: none;
    font-size: 0.8em;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:3;
    visibility: hidden;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    word-break: break-word;
    letter-spacing: 0;
}


/*--- Cards Container --- MOVER A OTRO CSS*/
/*LO CAMBIE A 80% para mejorar el centor, peros e puede borrar a 100*/
.cards{
    display: grid;
    width: 100%;
    padding: 20px 0px 20px 0px;
    place-items: center center;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-gap: 20px;
    position: relative;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}
.cards-error{
    position: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}



.cards-conteiner{
    display: block;
    box-sizing: border-box;
    transition: 0.3s;
    animation: ease-in-out;
}


/*--- Cards-Error ---*/
.cards-error > p{
    margin: 0;
}
.cards-error > img{
    width: 200px;
    height: 200px;
}

@media screen and (min-width: 1140px) {
    .cards-error > img{
        width: 400px;
        height: 400px;
       }
    .card-image > img{
        height: 250px;
    }
    .card{
        max-width: 400px;
        max-height: 400px;
    }
    .cards{
        grid-gap: 30px;
    }

}


